{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<h3><strong><u>By clicking Continue, you will be redirected to the contact form where you can notify Dhruv Syngol, the founder of Open Gears, of any of your questions or concerns.</u></strong></h3>
<br>
<br>
<div class="text-center"><a href="{% url 'index' %}" class="btn btn-primary">Continue</a></div>

<IMG STYLE="position:absolute; TOP:280px; LEFT:640px; WIDTH:250px; HEIGHT:350px" SRC="{% static 'images/dhruvsyngol.png.png' %} ">
{% endblock %}