{% extends "blog/base.html" %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}

<h1 style="color:blue;"><P ALIGN=Center ><font size="+2"><U> <b> Open Gears - Online Outreach</b> </U></font> </P></h1>
<!--<IMG STYLE="positidon:absolute; TOP:330px; LEFT:620px;WIDTH:280px; HEIGHT:200px" SRC="{% static 'images/renamebaidlogo.png' %} ">-->

<h5 style="color:black;"><P ALIGN=Right > <b> Designed by Shubham Welling </b>  </P></h5>
<p>


    This website is primarily designed to extend Open Gears' online outreach. By exploring this website, you will be able to learn more about the mission of Open Gears, connect personally with its founder, and also receive real time updates regarding upcoming events and changes in the nonprofit. </p>
<br>
<ul>
    <li>Click the <b> <u>Blog  </u></b>button on the navigation bar to learn about past webinars and updates on Open Gears</li>
  <li>Click the <b> <u>Contact  </u></b>button on the navigation bar to contact Dhruv</li>
  <li>Click the <b> <u>FAQ  </u></b> button on the navigation bar to learn more about Open Gears through some Frequently Answered Questions!</li>
  <li>Click the <b> <u>Events  </u></b> button to learn about Upcoming Events</li>
</ul>

    <p><br><br><strong>Check out Open Gears on social media: </strong><a href="https://www.instagram.com/theopengears/?hl=en">   <IMG STYLE="position:absolute; TOP:400px; LEFT:200px; WIDTH:200px; HEIGHT:150px" SRC="{% static 'images/instagramlogo.png' %} "></a></p>  <a href="https://www.youtube.com/channel/UCw_cfVGLx8IRNFChdkaSwHg">   <IMG STYLE="position:absolute; TOP:400px; LEFT:420px; WIDTH:150px; HEIGHT:150px" SRC="{% static 'images/newyoutube.png' %} "></a>  <a href="https://www.facebook.com/theopengears">   <IMG STYLE="position:absolute; TOP:400px; LEFT:620px; WIDTH:150px; HEIGHT:150px" SRC="{% static 'images/fb2.jfif' %} "></a>  <a href="https://linktr.ee/opengears">   <IMG STYLE="position:absolute; TOP:400px; LEFT:850px; WIDTH:150px; HEIGHT:150px" SRC="{% static 'images/linktree.png' %} "></a>  <a href="https://theopengears.com/"><IMG STYLE="position:absolute; TOP:420px; LEFT:1050px; WIDTH:200px; HEIGHT:100px" SRC="{% static 'images/opengearslogo.png.png' %} "></a>
<br><br><br><br><br><br><br><br><br><br>

{% endblock %}